@mixin init($justify: initial, $align: initial) {
    display: flex;
    @if $justify != initial{
        justify-content: $justify;
    }

    @if $align != initial{
        align-items: $align;
    }
}