$main-font: 'Poppins', sans-serif;

// FONT SIZE
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;

// FONT WEIGHT
$font-weights: ("regular": 400, "medium": 500, "semi-bold": 600, "bold": 700);