/* ==================== GOOGLE FONTS ===================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
:root {
  --h1-font-size: 2rem;
  --h2-font-size: 1.55rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}

@media screen and (min-width: 1124px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.85rem;
    --h3-font-size: 1.45rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #9e9aa7;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: #3b3054;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1148px;
  margin-inline: 1.5rem;
}
@media screen and (min-width: 768px) {
  .container {
    margin-inline: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    margin-inline: 4.5rem;
  }
}
@media screen and (min-width: 1240px) {
  .container {
    margin-inline: auto;
  }
}

/* ==================== HEADER ===================== */
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: white;
  /* ==================== NAv ===================== */
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}
.header .nav__logo {
  color: #3b3054;
  font-size: var(--h1-font-size);
  font-weight: 700;
}
.header .nav__logo:hover {
  color: #232127;
}
.header .nav__link {
  font-weight: 700;
}
.header .nav__btn {
  background-color: #2acfcf;
  color: white;
  font-weight: 700;
  cursor: pointer;
  padding-block: 1rem;
  border-radius: 5rem;
}
@media screen and (max-width: 768px) {
  .header .nav__toggle {
    color: #9e9aa7;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .header .nav__toggle:hover {
    color: #3b3054;
  }
  .header .nav__menu {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3b3054;
    width: calc(100% - 3rem);
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    transition: 0.3s;
  }
  .header .nav__menu.show-menu {
    top: 3.5rem;
  }
  .header .nav__item {
    text-align: center;
    padding-block: 1rem;
  }
  .header .nav__link {
    color: white;
  }
  .header .nav__hr {
    border-top: 1px solid #9e9aa7;
    margin-block: 1rem;
  }
  .header .nav__btn {
    display: inline-block;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .header .nav__toggle {
    display: none;
  }
  .header .nav__menu {
    width: 100%;
    margin-left: 1.5rem;
  }
  .header .nav__list {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
  }
  .header .nav__link {
    color: #bfbfbf;
  }
  .header .nav__link:hover {
    color: #3b3054;
  }
  .header .nav__hr {
    border: none;
    margin-left: auto;
  }
  .header .nav__btn {
    padding: 0.5rem 1.5rem;
  }
}

main {
  margin-top: 3.5rem;
}

.footer {
  background-color: #232127;
  text-align: center;
}
.footer .container {
  display: grid;
  row-gap: 2.5rem;
  padding-block: 2.5rem;
}
.footer__content {
  display: grid;
  row-gap: 2.5rem;
}
.footer__logo {
  color: white;
  font-size: var(--h1-font-size);
  font-weight: 700;
}
.footer__logo:hover {
  color: #2acfcf;
}
.footer__subtitle {
  color: white;
  font-size: var(--normal-font-size);
  margin-bottom: 1.5rem;
}
.footer__item:not(:last-child) {
  margin-bottom: 1rem;
}
.footer__link {
  color: #bfbfbf;
  font-size: var(--normal-font-size);
  font-weight: 500;
}
.footer__link:hover {
  color: #2acfcf;
}
.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.25rem;
}
.footer__socials-icon {
  color: white;
  font-size: 1.6rem;
}
.footer__socials-icon:hover {
  color: #2acfcf;
}
@media screen and (min-width: 768px) {
  .footer {
    text-align: initial;
  }
  .footer .container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
  .footer__content {
    grid-template-columns: repeat(2, max-content);
    column-gap: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__content {
    grid-template-columns: repeat(3, max-content);
  }
}

.home {
  position: relative;
  padding-bottom: 10.5rem;
}
.home__wrapper {
  display: grid;
}
.home__img {
  overflow-x: hidden;
  margin-left: 1.5rem;
  padding-block: 2rem 3.5rem;
}
.home__img img {
  transform: scale(1.2);
  max-width: 400px;
  transform-origin: left;
}
@media screen and (min-width: 568px) {
  .home__img {
    text-align: center;
  }
}
.home__info {
  text-align: center;
}
.home__title {
  margin-bottom: 1rem;
}
.home__desc {
  max-width: 30ch;
  margin-inline: auto;
  margin-bottom: 2.5rem;
}
.home__btn {
  background-color: #2acfcf;
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-weight: 600;
  padding: 0.65rem 1.8rem;
  border-radius: 2.5rem;
}
@media screen and (min-width: 768px) {
  .home {
    padding-block: 2.5rem 5.5rem;
  }
  .home__wrapper {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
  }
  .home .container {
    margin-right: 0;
  }
  .home__img {
    order: 1;
    margin-left: -10px;
  }
  .home__title {
    margin-bottom: 0.5rem;
  }
  .home__desc {
    max-width: 40ch;
  }
  .home__info {
    text-align: initial;
  }
}

/* ==================== SHORTER ===================== */
.shorter {
  position: absolute;
  max-width: 1148px;
  width: 90vw;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 25px;
  background-image: url("../images/bg-shorten-mobile.svg");
  background-size: cover;
  background-color: #3b3054;
  background-position: center;
}
.shorter__form {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}
.shorter__input {
  font-family: "Poppins", sans-serif;
  color: #9e9aa7;
  font-weight: 500;
}
.shorter__btn {
  background-color: #2acfcf;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.shorter__input, .shorter__btn {
  border: none;
  outline: none;
  border-radius: 0.25rem;
  padding: 0.8rem 1rem;
  font-size: var(--normal-font-size);
}
@media screen and (min-width: 768px) {
  .shorter__form {
    flex-direction: row;
    column-gap: 1rem;
    padding: 1rem 1.5rem;
  }
  .shorter__input {
    flex-grow: 2;
  }
}
@media screen and (min-width: 1024px) {
  .shorter {
    background-image: url("../images/bg-shorten-desktop.svg");
  }
}

.features {
  padding-block: 8.5rem 5.5rem;
  background-color: rgba(158, 154, 167, 0.1);
  text-align: center;
}
.features__title {
  margin-bottom: 1rem;
}
.features__desc {
  line-height: 1.8rem;
  margin-bottom: 5rem;
}
.features__cards {
  display: grid;
  row-gap: 5.5rem;
}
.features__card {
  background-color: white;
  padding: 5rem 2rem 2rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 5px rgba(59, 48, 84, 0.1);
}
.features__card-title {
  margin-bottom: 1rem;
}
.features__card-desc {
  font-size: var(--normal-font-size);
}
.features__card-icon {
  display: flex;
  background-color: #3b3054;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.features__card:not(:last-child)::after {
  content: "";
  background-color: #2acfcf;
  position: absolute;
  bottom: -5.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 5.5rem;
}
@media screen and (min-width: 768px) {
  .features__desc {
    max-width: 45ch;
    margin-inline: auto;
  }
  .features__cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
  }
  .features__card:nth-child(even)::after {
    left: -2.5rem;
    transform: translateY(-50%);
    top: 50%;
    width: 2.5rem;
    height: 10px;
    width: 2.5rem;
    height: 10px;
  }
}

.boost {
  text-align: center;
  padding-block: 3.5rem;
  background-image: url("../images/bg-boost-mobile.svg");
  background-size: cover;
  background-color: #3b3054;
  background-position: center;
}
.boost__title {
  color: white;
  text-align: center;
  margin-bottom: 1.5rem;
}
.boost__btn {
  background-color: #2acfcf;
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-weight: 600;
  padding: 0.65rem 1.8rem;
  border-radius: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .boost {
    background-image: url("../images/bg-boost-desktop.svg");
  }
}

/*# sourceMappingURL=main.css.map */
