/* ==================== GOOGLE FONT ===================== */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* ==================== VARIABLE CSS ===================== */
:root {
    /* ==================== COLORS ===================== */
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --dark-blue-alt: hsl(213, 19%, 22%);
    --very-dark-blue: hsl(216, 12%, 8%);

    /* ==================== TYPOGRAPHY ===================== */
    --main-font: 'Overpass', sans-serif;

    /* FONT SIZE */
    --h1-font-size: 1.285rem;
    --normal-font-size: 1rem;
    --p-font-size: .938rem;

    /* ==================== TRANSFORM 3D ===================== */
    --translate-z: translateZ(5rem);
}

/* ==================== RESPONSIVE FONT SIZE ===================== */
@media screen and (min-width: 1024px) {
    :root {
        /* FONT SIZE */
        --h1-font-size: 1.685rem;
        --normal-font-size: 1.125rem;
        --p-font-size: 1.025rem;
    }
}

/* ==================== BASE ===================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    background-color: var(--very-dark-blue);
    display: grid;
    min-height: 100vh;
    place-items: center;
}

h1,
h2 {
    color: var(--white);
    font-size: var(--h1-font-size);
    transform: var(--level-three);
}

p {
    font-size: var(--p-font-size);
}

img {
    max-width: 100%;
}

/* ==================== CARD ===================== */
.card {
    width: 85vw;
    max-width: 375px;
    box-shadow: 0px 4px 10px hsla(216, 12%, 54%, .15);
}

.card__content {
    position: relative;
    transition: transform 3s;
    transform-style: preserve-3d;
    height: calc(350px + 1.5rem);
    background-color: var(--dark-blue);
    border-radius: .5rem;
}

/* FLIP CARD */
.card.submit .card__content {
    transform: rotateY(.5turn);
}

.card__rating,
.card__thank {
    position: absolute;
    backface-visibility: hidden;
    padding: 1.5rem;
    transform: var(--translate-z);
}

/* ==================== CARD RATING ===================== */

.card__icon {
    background-color: var(--dark-blue-alt);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.card__rating-desc {
    color: var(--light-grey);
    margin-block: 1rem 1.5rem;
    line-height: 1.65;
}

.card__radios {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.65rem;
}

.card__radio {
    display: none;
}

.card__label {
    background-color: var(--dark-blue-alt);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--medium-grey);
    transition: .3s;
}

.card__label.active {
    background-color: var(--orange);
    color: var(--white);
}

.card__label.active:hover {
    background-color: var(--orange);
}

.card__label:hover {
    background-color: var(--medium-grey);
    color: var(--white);
    cursor: pointer;
}

.card__btn {
    background-color: var(--orange);
    border: none;
    outline: none;
    width: 100%;
    padding-block: .85rem;
    border-radius: 2.5rem;
    color: var(--white);
    cursor: pointer;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-weight: bold;
    letter-spacing: .1rem;
    transition: .3s;
}

.card__btn:hover {
    background-color: var(--white);
    color: var(--orange);
}

/* ==================== CARD THANK ===================== */
.card__thank {
    text-align: center;
    transform: rotateY(.5turn) var(--translate-z);
}

.card__result {
    color: var(--orange);
    background-color: var(--dark-blue-alt);
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 2.5rem;
    margin-block: 1rem 1.5rem;
}

.card__thank-desc {
    color: var(--medium-grey);
    margin-top: .85rem;
    line-height: 1.65;
}