/* === GOOGLE FONTS === */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* === CSS VARIABLES === */
:root {
    /* == COLORS == */

    /* Primary */
    --c-orange: hsl(31, 77%, 52%);
    --c-cyan: hsl(184, 100%, 22%);
    --c-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral */
    --c-white-transparent: hsla(0, 0%, 100%, 0.75);
    --c-light-gray: hsl(0, 0%, 95%);

    /* == TYPOGRAPHY == */

    /* Font Family */
    --ff-title: 'Big Shoulders Display', cursive;
    --ff-paragraphs: 'Lexend Deca', sans-serif;

    /* Font Size */
    --fz-title: 2rem;
    --fz-paragraph: 1.08rem;

    /* Font Weights */
    --fw-regular: 400;
    --fw-bold: 700;
}

/* === Responsive Variabels === */
@media screen and (min-width: 735px) {
    :root {
        /* == TYPOGRAPHY == */

        /* Font Size */
        --fz-title: 2.5rem;
        --fz-paragraph: 1.3rem;
    }
}

/* === BASE === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--c-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

a {
    text-decoration: none;
}

/* === COMPONENT === */
.btn {
    display: inline-block;
    font-family: var(--ff-paragraphs);
    padding: 10px 15px;
    border-radius: 30px;
    margin-top: 20px;
}

/* === MODIFIER === */
.card--orange {
    background-color: var(--c-orange);
}

.card--cyan {
    background-color: var(--c-cyan);
}

.card--dark-cyan {
    background-color: var(--c-dark-cyan);
}

.text--orange {
    color: var(--c-orange);
}

.text--cyan {
    color: var(--c-cyan);
}

.text--dark-cyan {
    color: var(--c-dark-cyan);
}

.btn--white {
    background-color: #fff;
}

/* === LAYOUT === */
.l-grid {
    display: grid;
}

.container {
    grid-template-columns: 100%;
    border-radius: 10px;
    overflow: hidden;
}

/* === CARD === */
.card {
    max-width: 330px;
    padding: 30px;
}

.card__title {
    font-family: var(--ff-title);
    font-weight: var(--fw-bold);
    font-size: var(--fz-title);
    text-transform: uppercase;
    color: #fff;
    margin: 15px 0;
}

.card__description {
    color: var(--c-white-transparent);
    font-weight: var(--fw-regular);
    font-size: var(--fz-paragraph);
    font-family: var(--ff-paragraphs);
    line-height: 1.5;
}

/* === STATE === */
.btn:hover {
    background-color: transparent;
    border: 1px solid var(--c-white-transparent);
    color: var(--c-white-transparent);
}

/* === RESPONSIVE === */
@media screen and (min-width: 1000px) {
    body {
        padding: 0;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}