/* === Google Fonts === */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* === Variabel CSS === */
:root {
    /* COLORS */
    --white-color: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    /* Typography */
    --main-font: 'Outfit', sans-serif;

    /* Font-Weight */
    --fw-regular: 400;
    --fw-bold: 700;
}

/* === RESET CSS === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
}

img {
    width: 100%;
}

/* === LAYOUT === */
main {
    padding: 100px 0;
    height: 100vh;
    background-color: var(--light-gray);
}

/* === CARD === */

.card {
    background-color: var(--white-color);
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}

.qr {
    border-radius: 15px;
    overflow: hidden;
}

.card__title {
    color: var(--dark-blue);
    font-weight: var(--fw-bold);
    font-size: 22px;
    margin: 20px 0 15px;
}

.card__description {
    color: var(--grayish-blue);
    font-weight: var(--fw-regular);
    margin-bottom: 15px;
    line-height: 1.5;
}