/* === GOOGLE FONTS === */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/* === CSS VARIABLES === */
:root {
    /* == COLORS == */
    --c-very-dark-blue: hsl(217, 19%, 35%);
    --c-dark-blue: hsl(214, 17%, 51%);
    --c-blue: hsl(212, 23%, 69%);
    --c-light-blue: hsl(210, 46%, 95%);

    /* == TYPOGRAPHY == */

    /* Font Family */
    --ff-main-font: 'Manrope', sans-serif;

    /* Font Weight */
    --fw-medium: 500;
    --fw-bold: 700;

    /* Font Size */
    --fz-heading: 1.1rem;
    --fz-paragraph: .915rem;


}

/* === RESPONSIVE VARIABLES === */
@media screen and (min-width: 785px) {
    :root {
        /* == TYPOGRAPHY == */

        /* Font Size */
        --fz-heading: 1.38rem;
        --fz-paragraph: .94rem;
    }
}

/* === RESET CSS === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-main-font);
    background-color: var(--c-light-blue);
}

img {
    width: 100%;
}

/* === MODIFIER === */
.bg-light {
    background-color: var(--c-light-blue);
}

.bg-dark {
    background-color: var(--c-dark-blue);
}

.icon-dark {
    color: var(--c-very-dark-blue);
}

.icon-light {
    color: var(--c-light-blue);
}


/* === CARD === */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 90vw;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    margin: 150px auto;
    box-shadow: 5px 5px 15px hsla(214, 17%, 51%, .2);
}

.card__image {
    background-image: url(../images/drawers.jpg);
    background-size: cover;
    background-position: center;
    height: 180px;
    margin-bottom: 5px;
    position: relative;
}

.card__body {
    padding: 25px;
}

.card__title {
    color: var(--c-very-dark-blue);
    font-size: var(--fz-heading);
    font-weight: var(--fw-bold);
    margin-bottom: 15px;
}

.card__description {
    color: var(--c-dark-blue);
    font-size: var(--fz-paragraph);
    font-weight: var(--fw-medium);
    line-height: 1.5;
    margin-bottom: 35px;
}

.card__footer {
    display: flex;
    align-items: center;
}

.card__avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.card__name {
    font-size: calc(var(--fz-heading) - .2rem);
    color: var(--c-very-dark-blue);
    font-weight: var(--fw-bold);
    margin-bottom: 3px;
}

.card__date {
    font-size: calc(var(--fz-heading) - .25rem);
    color: var(--c-blue);
    font-weight: var(--fw-medium);
}

.card__share {
    display: inline-block;
    margin-left: auto;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.share {
    position: absolute;
    width: 100%;
    bottom: -25%;
    visibility: hidden;
    background-color: var(--c-very-dark-blue);
    padding: 20px 25px;
    display: flex;
    align-items: center;
    transition: .5s;
}

.share.active {
    bottom: 0;
    visibility: visible;
}

.share label {
    color: var(--c-blue);
    letter-spacing: 5px;
    margin-right: 25px;
}

.icon-medsos {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 25px;
}

@media screen and (min-width: 785px) {

    .card {
        flex-direction: row;
    }

    .card__image {
        flex: 35%;
        height: auto;
        background-position: left;
        margin-bottom: 0;
    }

    .card__body {
        padding-right: 35px;
        flex: 65%;
    }

    .card__description {
        margin-bottom: 20px;
    }

    .card__name {
        font-size: calc(var(--fz-heading) - .45rem);

    }

    .card__date {
        font-size: calc(var(--fz-heading) - .5rem);
    }
}