.features {
    padding-block: 8.5rem 5.5rem;
    background-color: hsla(257, 7%, 63%, .1);
    text-align: center;

    &__title {
        margin-bottom: 1rem;
    }

    &__desc {
        line-height: 1.8rem;
        margin-bottom: 5rem;
    }

    &__cards {
        display: grid;
        row-gap: 5.5rem;
    }

    &__card {
        background-color: $white-color;
        padding: 5rem 2rem 2rem;
        position: relative;
        border-radius: .5rem;
        box-shadow: 0px 4px 5px rgba($color: $first-color, $alpha: 0.1);

        &-title {
            margin-bottom: 1rem;
        }

        &-desc {
            line-height: 1.8;
            font-size: var(--small-font-size);
        }

        &-icon {
            display: flex;
            background-color: $first-color;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);

            @include box(80px, 80px, 50%);
        }

        &:not(:last-child)::after {
            content: "";
            background-color: $second-color;
            position: absolute;
            bottom: -5.5rem;
            left: 50%;
            transform: translateX(-50%);

            @include box(10px, 5.5rem);
        }
    }

    @include breakpoints-up("tablet") {
        &__desc {
            max-width: 45ch;
            margin-inline: auto;
        }

        &__cards {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2.5rem;
        }

        &__card:nth-child(even)::after {
            left: -2.5rem;
            transform: translateY(-50%);
            top: 50%;

            @include box(2.5rem, 10px);
        }
    }

    @include breakpoints-up("large") {
        &__cards {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 1.5rem;
            text-align: initial;
        }

        &__card {
            height: fit-content;
            padding-top: 4rem;

            &:first-child::after {
                right: -2.5rem;
                transform: translateY(-50%);
                top: 50%;
                left: auto;

                @include box(2.5rem, 10px);
            }

            &:nth-child(2) {
                margin-top: 2rem;

                &:after {
                    left: auto;
                    top: 30%;
                    right: -2.5rem;
                }
            }

            &:nth-child(3) {
                margin-top: 5rem;
            }

            &-icon {
                left: 25%;
            }
        }

    }
}