.home {
    display: grid;
    margin-bottom: 3.5rem;

    &__img {
        overflow: hidden;
        margin-left: 1.5rem;
        padding-block: 2rem 3.5rem;

        img {
            transform: scale(1.2);
            max-width: 400px;
            transform-origin: left;
        }
    }

    @include breakpoints-up("medium") {
        &__img {
            text-align: center;
        }
    }

    &__info {
        text-align: center;
    }

    &__title {
        color: $first-color;
        font-size: var(--h1-font-size);
        margin-bottom: 1rem;
    }

    &__desc {
        max-width: 30ch;
        margin-inline: auto;
        color: $text-color;
        font-weight: map-get($map: $font-weights, $key: "medium");
        margin-bottom: 2.5rem;
    }

    &__btn {
        @include button() {
            font-weight: map-get($map: $font-weights, $key: "semi-bold");
            padding: .65rem 1.8rem;
            border-radius: 2.5rem;
        }
    }
}

@include breakpoints-up("tablet") {
    .home {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
        align-items: center;

        .container {
            margin-right: 0;
        }

        &__img {
            order: 1;
        }

        &__title {
            margin-bottom: .5rem;
        }

        &__desc {
            max-width: 40ch;
        }

        &__info {
            text-align: initial;
        }
    }
}