/* === GOOGLE FONTS === */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

/* === CSS VARIABLES === */
:root {
    /* == TYPOGRAPHY == */

    /* Font Familiy */
    --ff-main-font: 'Barlow Semi Condensed', sans-serif;

    /* Font Size */
    --fz-big: 1.305rem;
    --fz-normal: .8515rem;
    --fz-small: .6875rem;

    /* Font Weight */
    --fw-medium: 500;
    --fw-semi-bold: 600;

    /* == COLORS == */

    /* Primary */
    --c-moderate-violet: hsl(263, 55%, 52%);
    --c-dark-grayish-blue: hsl(217, 19%, 35%);
    --c-dark-blackish-blue: hsl(219, 29%, 14%);
    --c-white: hsl(0, 0%, 100%);

    /* Neutral */
    --c-light-gray: hsl(0, 0%, 81%);
    --c-light-grayish-blue: hsl(210, 46%, 95%);
}

/* === BASE CSS === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-main-font);
    background-color: var(--c-light-grayish-blue);
}

/* === LAYOUTING === */
main {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.l-grid {
    display: grid;
}

/* === MODIFIER === */
.card--purple {
    background-color: var(--c-moderate-violet);
}

.card--grayish-blue {
    background-color: var(--c-dark-grayish-blue);
}

.card--white {
    background-color: var(--c-white);
}

.card--blackish-blue {
    background-color: var(--c-dark-blackish-blue);
}

.card--light {
    color: var(--c-light-grayish-blue);
}

.card--dark {
    color: var(--c-dark-grayish-blue);
}

/* === CARDS === */
.cards {
    grid-template-columns: 100%;
    width: 90vw;
    gap: 1.5rem;
    margin: 4.5rem auto;
}

.card {
    padding: 2rem;
    border-radius: .6rem;
    display: flex;
    flex-flow: column wrap;
    gap: 1.25rem;
    line-height: 1.35;
}

.card__profile {
    display: flex;
    align-items: center;
}

.card__avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
}


.card__name {
    font-size: var(--fz-normal);
    font-weight: var(--fw-semi-bold);
}

.card__status {
    font-size: var(--fz-small);
    font-weight: var(--fw-medium);
    opacity: 50%;
}

.card__title {
    font-size: var(--fz-big);
    font-weight: var(--fw-semi-bold);
}

.card__quote {
    font-size: var(--fz-normal);
    font-weight: var(--fw-medium);
    opacity: 70%;
}