/* === GOOGLE FONTS === */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

/* === CSS VARIABLES === */
:root {
    /* == TYPOGRAPHY == */

    /* Font Family */
    --ff-main-font: 'Manrope', sans-serif;

    /* Font Size */
    --fz-big: 2rem;
    --fz-normal: .985rem;

    /* Font Weight */
    --fw-extra-bold: 800;
    --fw-regular: 400;

    /* == COLOR == */

    /* Primary */
    --c-light-cyan: hsl(193, 38%, 86%);
    --c-neon-green: hsl(150, 100%, 66%);

    /* Neutral */
    --c-grayish-blue: hsl(217, 19%, 38%);
    --c-dark-grayish-blue: hsl(217, 19%, 24%);
    --c-dark-blue: hsl(218, 23%, 16%);
}

/* === BASE CSS === */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--c-dark-blue);
    font-family: var(--ff-main-font);
}

/* === LAYOUT === */
main {
    display: grid;
    min-height: 100vh;
    place-items: center;
}