/* === GOOGLE FONT === */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* === CSS VARIABLES === */
:root {
    /* == TYPOGRAPHY == */

    /* Font Family */
    --ff-main-font: 'Karla', sans-serif;

    /* Font Size */
    --fz-bigger: 2rem;
    --fz-big: 1.5rem;
    --fz-medium: 1.125rem;
    --fz-normal: .915rem;
    --fz-small: .875rem;

    /* Font Weight */
    --fw-regular: 400;
    --fw-semi-bold: 700;

    /* == COLORS == */

    /* Primary */
    --c-cyan: hsl(179, 62%, 43%);
    --c-bright-yellow: hsl(71, 73%, 54%);

    /* Neutral */
    --c-light-gray: hsl(204, 43%, 93%);
    --c-grayish-blue: hsl(218, 22%, 67%);
}

/* === BASE CSS === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-main-font);
    background-color: var(--c-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 4.5rem 0;
}

/* === REUSABLE CLASS === */
.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* === MODIFIER CLASS === */
.card--white {
    background-color: white;
}

.card--cyan {
    background-color: var(--c-cyan);
}

.text--white {
    color: white;
}

.text--yellow {
    color: var(--c-bright-yellow);
}

.text--grayish-blue {
    color: var(--c-grayish-blue)
}

.text--gray {
    color: var(--c-light-gray)
}

/* === LAYOUTING === */
.l-grid {
    display: grid;
}

.cards {
    grid-template-columns: 100%;
    width: 90vmin;
    max-width: 39.688rem;
    box-shadow: 0 0.938rem 1.875rem rgb(0 81 171 / 15%);
    border-radius: .3rem;
    overflow: hidden;
}

/* === CARD === */
.card {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.card__title {
    font-size: var(--fz-big);
    color: var(--c-cyan);
    font-weight: var(--fw-semi-bold);
}

.card__sub-title {
    font-size: var(--fz-medium);
    font-weight: var(--fw-semi-bold);
}

.card__description {
    font-size: var(--fz-normal);
    font-weight: var(--fw-regular);
    line-height: 1.5;
}

.card__description:nth-of-type(2) {
    font-size: calc(var(--fz-normal) + .1rem);
}

.card__price {
    color: hsla(204, 43%, 93%, .8);
    display: flex;
    align-items: center;
}

.card__price strong {
    font-size: var(--fz-bigger);
    font-weight: var(--fw-semi-bold);
    margin-right: .5rem;
}

.btn__sign-up {
    background-color: var(--c-bright-yellow);
    font-weight: var(--fw-semi-bold);
    color: white;
    width: 100%;
    min-width: 55px;
    padding: .85rem 0;
    border-radius: .25rem;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 .625rem .625rem rgb(0 0 0 / 10%);
}

/* == LAST CARD CYAN == */
.card--cyan:last-child {
    position: relative;
}

.card--cyan:last-child .overlay {
    background-color: hsla(0, 0%, 100%, 0.15);
}