/* === GOOGLE FONTS === */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

/* === CSS VARIABELS === */
:root {
    /* == COLORS == */

    /* Primary */
    --c-dark-magenta: hsl(300, 43%, 22%);
    --c-soft-pink: hsl(333, 80%, 67%);

    /* Neutral */
    --c-dark-grayish: hsl(303, 10%, 53%);
    --c-light-grayish: hsl(300, 24%, 96%);
    --c-white: hsl(0, 0%, 100%);


    /* == TYPOGRAPHY == */

    /* Font Family */
    --ff-main-font: 'Spartan', sans-serif;

    /* Font Weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    /* Font Size */
    --fz-big: 1.95rem;
    --fz-normal: .95rem;
    --fz-small: .88rem;

}

/* === RESET CSS === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-main-font);
}

main {
    padding: 0 16px;
}

/* === SECTION TOP === */
.top {
    background-image: url("../images/bg-pattern-top-mobile.svg");
    background-repeat: no-repeat;
    padding-top: 80px;
    margin-bottom: 50px;
}

.text {
    text-align: center;
}

.title {
    color: var(--c-dark-magenta);
    font-size: var(--fz-big);
    font-weight: var(--fw-bold);
    line-height: 1;
    margin-bottom: 25px;
}

.description {
    color: var(--c-dark-grayish);
    font-weight: var(--fw-medium);
    font-size: var(--fz-normal);
    line-height: 1.5;
    margin-bottom: 35px;
}

.rates {
    display: flex;
    flex-direction: column;
}

.rate {
    background-color: var(--c-light-grayish);
    text-align: center;
    padding: 15px 0;
    border-radius: 8px;
}

.rate:not(:last-child) {
    margin-bottom: 10px;
}

.star:not(:last-child) {
    margin-right: 5px;
}

.rate-text {
    color: var(--c-dark-magenta);
    font-weight: var(--fw-bold);
    font-size: var(--fz-normal);
    margin-top: 10px;
}

/* === SECTION REVIEWS === */

.reviews {
    display: flex;
    flex-direction: column;
    background-image: url("../images/bg-pattern-bottom-mobile.svg");
    padding-bottom: 80px;
}

.review {
    background-color: var(--c-dark-magenta);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px hsla(303, 10%, 53%, .6);
}

.review:not(:last-child) {
    margin-bottom: 15px;
}

.review-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}

.name {
    color: var(--c-white);
    font-size: var(--fz-small);
    font-weight: var(--fw-regular);
    margin-bottom: 5px;
}

.status {
    color: var(--c-soft-pink);
    font-size: calc(var(--fz-small) - .1rem);
    font-weight: var(--fw-medium);
}

.review-text {
    color: var(--c-light-grayish);
    font-size: var(--fz-small);
    line-height: 1.5;
}

/* === RESPONSIVE === */

/* Medium Device */
@media screen and (min-width: 500px) {
    main {
        width: 500px;
        margin: 0 auto;
    }
}

/* Large Device */
@media screen and (min-width: 1000px) {

    /* == RESPONSIVE VARIABLES == */
    :root {
        /* Font Size */
        --fz-big: 2.4rem;
        --fz-normal: 1rem;
        --fz-small: .925rem;
    }

    /* == RESPONSIVE COMPONENT == */
    main {
        width: 80vw;
    }

    .top {
        display: flex;
        justify-content: space-between;
        background-image: url("../images/bg-pattern-top-desktop.svg");
    }

    .text {
        flex-basis: 40%;
        text-align: left;
    }

    .rate {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 450px;
        padding: 15px 30px;
    }

    .rate:not(:last-child) {
        margin-bottom: 18px;
    }

    .rate:nth-child(2) {
        margin-left: 30px;
    }

    .rate:last-child {
        margin-left: 60px;
    }

    .rate-text {
        margin-top: 0;
        margin-left: 10px;
    }

    .reviews {
        background-image: url("../images/bg-pattern-bottom-desktop.svg");
        flex-direction: row;
        gap: 25px;
    }

    .review {
        height: fit-content;
    }

    .review:nth-child(2) {
        margin-top: 20px;
    }

    .review:last-child {
        margin-top: 40px;
    }
}