/* === GOOGLE FONTS === */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* === VARIABELS CSS === */
:root {
    /* COLORS */
    --c-soft-blue: hsl(215, 51%, 70%);
    --c-cyan: hsl(178, 100%, 50%);
    --c-main-bg: hsl(217, 54%, 11%);
    --c-card-bg: hsl(216, 50%, 16%);
    --c-white: hsl(0, 0%, 100%);

    /* Typography */
    --main-font: 'Outfit', sans-serif;
    --fw-light: 300;
    --fw-normal: 400;
    --fw-semi-bold: 600;
}

/* === RESET CSS === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: var(--main-font);
}

/* === REUSABLE CLASS === */
.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* === LAYOUTING === */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-main-bg);
    height: 100vh;
}

/* === CARD === */
.card {
    width: 85vw;
    max-width: 350px;
    padding: 20px;
    background-color: var(--c-card-bg);
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(77, 77, 77, 0.1);
}

.card__image {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.card__image .overlay {
    background-color: hsl(178deg 100% 50% /50%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .3s;
}

.card__image-img {
    width: 100%;
}

.card__title {
    font-size: 2.2rem;
    font-weight: var(--fw-semi-bold);
    color: var(--c-white);
}

.card__description {
    margin: 10px 0 15px;
    font-size: 1.6rem;
    font-weight: var(--fw-light);
    color: var(--c-soft-blue);
    line-height: 1.5;
}

.card__info {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.card__prize,
.card__time {
    display: flex;
    align-items: center;
}

.card__prize img,
.card__time img {
    margin-right: 5px;
}

.card__prize {
    color: var(--c-cyan);
}

.card__time {
    color: var(--c-soft-blue);
}

.card__footer {
    margin-top: 15px;
    border-top: 1px solid hsl(212, 32%, 41%);
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.card__avatar {
    max-width: 30px;
    border: 1px solid var(--c-soft-blue);
    border-radius: 50%;
    margin-right: 10px;
}

.card__credit {
    font-size: 1.6rem;
    font-weight: var(--fw-light);
    color: var(--c-soft-blue);
}

.card__name {
    color: var(--c-white);
    font-weight: var(--fw-normal);
}

/* === STATE === */
.card__title:hover,
.card__name:hover {
    color: var(--c-cyan);
}

.card__image:hover .overlay {
    opacity: 1;
}

/* === BREAK POINT === */
@media screen and (min-width: 785px) {
    html {
        font-size: 12px;
    }
}