$header-height: 3.5rem;

/* ==================== HEADER ===================== */
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: map-get($z-indexes, "fixed");
    background-color: $white-color;

    /* ==================== NAv ===================== */
    .nav {
        @include flex(space-between, center);
        height: $header-height;

        &__logo {
            color: $first-color;
            font-size: $h1-font-size;
            font-weight: map-get($font-weights, "bold");

            &:hover {
                color: $first-color-alt;
            }
        }

        &__link {
            font-weight: map-get($map: $font-weights, $key: "bold");
        }

        &__btn {
            @include button() {
                padding-block: 1rem;
                border-radius: 5rem;
            }
        }

        &__toggle {
            color: $text-color;
            font-size: 1.8rem;
            font-weight: map-get($font-weights, "medium");

            &:hover {
                color: $first-color;
            }
        }

        &__menu {
            position: fixed;
            top: -100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: $first-color;
            width: calc(100% - 3rem);
            padding: 2rem 1.5rem;
            border-radius: .5rem;
            transition: .3s;

            &.show-menu {
                top: $header-height;
            }
        }

        &__item {
            text-align: center;
            padding-block: 1rem;
        }

        &__link {
            color: $white-color;
        }

        &__hr {
            border-top: 1px solid $text-color;
            margin-block: 1rem;
        }

        &__btn {
            display: inline-block;
            width: 100%;
        }

        @include breakpoints-up("tablet") {
            &__toggle {
                display: none;
            }

            &__menu {
                width: 100%;
                margin-left: 1.5rem;
            }

            &__list {
                @include flex(initial, center) {
                    column-gap: 1.5rem;
                }
            }

            &__link {
                color: $gray-color;

                &:hover {
                    color: $first-color;
                }
            }

            &__hr {
                border: none;
                margin-left: auto;
            }

            &__btn {
                padding: .5rem 1.5rem;
            }
        }
    }

}